<h2>Listado de Noticias</h2>
<!-- {{noticias}}  se mostraría sólo como objetos, entonces usamos directiva-->
<!-- <input type="text" placeholder="Buscar" (keyup)="setSearch($event)"> -->

<input type="text" placeholder="Buscar" [(ngModel)]="search">
<button (click)="buscar()">Buscar</button>
<p *ngIf="cargando">Cargando ...</p>
<h3>Resultados de {{lastSearch | myUpperCase}}</h3>

<div class="panel">
    <div>
        <app-noticias-list [noticias]="noticias" (onSelect)="selectNoticia($event)"></app-noticias-list>
    </div>
    <div>
        <app-noticia-details [noticia]="current" (onClear)="clearCurrent()"></app-noticia-details>
    </div>
</div>
